<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases> 
  		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.util.List" alias="list"/>
		<typeAlias type="com.mycom.store.model.StoreVO" alias="StoreVO"/>
		<typeAlias type="com.mycom.booking.domain.Movie" alias="movie"/>
		<typeAlias type="com.mycom.booking.domain.Cinema" alias="cinema"/>
		<typeAlias type="com.mycom.booking.domain.Mtime" alias="mtime"/>
		<typeAlias type="com.mycom.booking.domain.Schedule" alias="schedule"/>
		<typeAlias type="com.mycom.booking.domain.Seat" alias="seat"/>
		<typeAlias type="com.mycom.booking.domain.Ticketing" alias="ticketing"/>
		<typeAlias type="com.mycom.member.dto.MemberDTO" alias="memberDto" />
		<typeAlias type="com.mycom.qna.domain.Qna" alias="qnaDomain" />
		<typeAlias type="com.mycom.qna.domain.QnaFile" alias="qnaFileDomain" />
		<typeAlias type="com.mycom.notice.domain.Notice" alias="notice"/>
		<typeAlias type="com.mycom.event.domain.Event" alias="event"/>
  	</typeAliases>
  	
  </configuration>