<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases> 
  		<typeAlias type="java.lang.Integer" alias="Integer"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="com.mycom.store.model.StoreVO" alias="StoreVO"/>
		<typeAlias type="com.mycom.notice.domain.Notice" alias="notice"/>
		<typeAlias type="com.mycom.event.domain.Event" alias="event"/>
  	</typeAliases>
  	
  </configuration>